:root {
  font: 18px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #f2f5ea;
  min-height: 100%;
  background-color: #22031f;
  font-family: 'Varela Round', sans-serif;
}

header {
  text-align: center;
}

.footer {
  display: flex;
  align-content: flex-end;
}

.button {
  margin: 1rem;
}

button {
  width: auto;
  height: 45px;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: #f2f5ea;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: #ddfdfe;
  box-shadow: 0px 3px 10px #f2f5ea;
  color: black;
  transform: translateY(5px);
  outline: none;
}

p {
  text-align: center;
  padding: 1rem;
}

.pFooter {
  padding: 0rem;
}

h2 {
  margin: 0.25rem;
  font-size: 1.15rem;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-content: flex-start;
}

.innerBox {
  display: flex;
  border: none;
  width: 90%;
  -moz-box-shadow: inset 0 0 10px #f2f5ea;
  -webkit-box-shadow: inset 0 0 10px #f2f5ea;
  box-shadow: inset 0 0 10px #f2f5ea;
}

.outerBox {
  width: 75%;
  display: flex;
  border: none;
  -moz-box-shadow: inset 0 0 10px #f2f5ea;
  -webkit-box-shadow: inset 0 0 10px #f2f5ea;
  box-shadow: inset 0 0 10px #f2f5ea;
}
